.hypothesis

# Python
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
venv/

# Poetry
poetry.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
data/main
data/d3l
data/audit

*.log
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environment
.venv
env/
ENV/

.cursorrules
.cursorignore

azure_logs/

mydb/
db/

# Ignore all folders in /seeds, but not the keys.json
/seeds/*
!/seeds/keys.json

# Ignore Session Tickets
sessions/

# Ignore Logs
logs/

# Ignore Packets
packets/
